In [1]:
conn_str = "postgresql://admin:w7csAcKBvMeXZwfUfZcC@map3238_1:25432/dhs_data_pit"

In [2]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine
import os

In [3]:
engine = create_engine(conn_str)

In [4]:
all_surveys = pd.read_sql(f"""
    SELECT distinct(surveyid)
    FROM dhs_data_tables."RECH0"
""", con=engine)

In [5]:
ls

Tusting_Household_Extraction.ipynb*

In [6]:
prev_result_folder = '/mnt/c/Users/harry/OneDrive - Nexus365/MAP/DHS_Tusting_Housing/Previous'

# Household-level extraction

We have written an SQL query which we will run once for each "new" survey, selected by the numeric survey id. 

We need to figure out what these new surveys are: anything in the Sub-Saharan Africa region that wasn't done last time (i.e. is new since then), plus all surveys from Southeast Asia and Latin America/Caribbean regions (expansion of scope).

The output data needs to match the schema from last time, which includes lengthy descriptive column names. The SQL has been written to generate these column names automatically; but first we will read the schema of last time's output just to double-check it.

In [7]:
last_time_cols = pd.read_csv(os.path.join(prev_result_folder,'All_P2-6.csv'), nrows=0)
last_time_cols

Empty DataFrame
Columns: [HHID = Case Identification, CountryName, DHS_CountryCode, SurveyNum, SurveyType, SurveyYear, HV000 = Country code and phase, HV001 = Cluster number, latitude, longitude, HV002 = Household number, HV005 = Household sample weight (6 decimals), HV009 = Number of household members, HV025 | Type of place of residence, HV025 = Type of place of residence, HV201 | Source of drinking water, HV201 = Source of drinking water, HV205 | Type of toilet facility, HV205 = Type of toilet facility, HV213 | Main floor material, HV213 = Main floor material, HV214 | Main wall material, HV214 = Main wall material, HV215 | Main roof material, HV215 = Main roof material, HV216 = Number of rooms used for sleeping, HV221 = Has telephone (land-line), HV226 = Type of cooking fuel, HV226 | Type of cooking fuel, HV243A = Has mobile telephone, HV243B = Has watch, HV243C = Has animal-drawn cart, HV243D = NA - Has boat with a motor, HV244 = Owns land usable for agriculture, HV245 = Hectares of agricultural land (1 decimal), HV247 = Has bank account, HV270 | Wealth index, HV270 = Wealth index, HV271 = Wealth index factor score (5 decimals), HV014 = Number Under 5s, HV026 | Place of Residence, HV026 = Place of Residence, HV040 = Cluster Altitude m, HV204 = Mins to reach water source, HV206 = Has electricity, HV207 = Has radio, HV208 = Has television, HV209 = Has refrigerator, HV210 = Has bicycle, HV211 = Has motorcycle/scooter, HV212 = Has car/truck, HV219 = Sex of household head, HV219 | Sex of household head, HV220 = Age of household head, HV225 = Shares toilet, HV238 = Number of households sharing toilet, HV239 = Cooking appliance, HV239 | Cooking appliance, HV240 | Cooking ventilation, HV240 = Cooking ventilation, HV242 = Has separate kitchen, HV252 = Frequency of Smoking Indoors, HV252 | Frequency of Smoking Indoors, HV253 = IRS in last 12 months, HV106 = Highest Education Lvl HH Head Attained, HV106 | Highest Education Lvl HH Head Attained, HV109 = Education Lvl HH Head, HV109 | Education Lvl HH Head, HV115 | Marital Status of HH Head, HV115 = Marital Status of HH Head, V717orV705 = Occupation Group of HH Head, V717orV705 | Occupation Group of HH Head, Flag = N entries for HH Head Occ, Flag2 = HH Head Occ Refers To]
Index: []

[0 rows x 74 columns]

To work out what surveys we need to run for, check which surveys were included last time and compare to those that are now available in the required regions.

Get a listing of the unique survey numbers in the previous output file.

In [8]:
last_time_hh_listing = pd.read_csv(os.path.join(prev_result_folder, 'All_P2-6.csv'), usecols=['SurveyNum', 'SurveyYear', 'CountryName'])

In [9]:
last_time_hh_svys = last_time_hh_listing['SurveyNum'].unique()
last_time_hh_str = ",".join(["'"+str(s)+"'" for s in last_time_hh_svys])
len(last_time_hh_svys)

159

Look to see what surveys are available in the DB now that were not extracted last time - we only did sub-saharan African last time so now we need to do all SSA surveys that have been added since then, plus all available surveys for LAC and SEA regions. Use a formatted version of the IDs from last time in the query, rather than getting all and merging on the python side.

In [10]:
all_not_done_hh_surveys = pd.read_sql(f"""
    SELECT distinct(surveyid)
    FROM dhs_data_tables."RECH0"
    WHERE surveyid NOT IN ({last_time_hh_str})
""", con=engine)

In [11]:
len(all_not_done_hh_surveys)

143

Get all information on the potential new surveys

In [12]:
all_not_done_hh_surveys_full = pd.read_sql(f"""
    SELECT * from dhs_survey_specs.dhs_survey_listing 
    WHERE surveynum IN 
        (SELECT distinct(surveyid)::INTEGER
            FROM dhs_data_tables."RECH0"
            WHERE surveyid NOT IN ({last_time_hh_str})
            )
""", con=engine)
all_not_done_hh_surveys_full

,surveyid,dhs_countrycode,surveyyear,surveytype,surveystatus,countryname,surveyyearlabel,surveynum,indicatordata,regionname,...,numberofhouseholds,universeofwomen,numberofwomen,minagewomen,maxagewomen,universeofmen,numberofmen,minagemen,maxagemen,numberoffacilities
0,AF2015DHS,AF,2015,DHS,Completed,Afghanistan,2015,471,1,South & Southeast Asia,...,24395.0,Ever Married Women,29461.0,15.0,49.0,Ever Married Men,10760.0,15.0,49.0,NaN
1,AL2008DHS,AL,2008,DHS,Completed,Albania,2008-09,327,1,North Africa/West Asia/Europe,...,7999.0,All Women,7584.0,15.0,49.0,All Men,3013.0,15.0,49.0,NaN
2,AL2017DHS,AL,2017,DHS,Completed,Albania,2017-18,525,1,North Africa/West Asia/Europe,...,15823.0,All Women,10861.0,15.0,49.0,All Men,6142.0,15.0,59.0,NaN
3,AM2000DHS,AM,2000,DHS,Completed,Armenia,2000,203,1,North Africa/West Asia/Europe,...,5980.0,All Women,6430.0,15.0,49.0,All Men,1719.0,15.0,54.0,NaN
4,AM2005DHS,AM,2005,DHS,Completed,Armenia,2005,262,1,North Africa/West Asia/Europe,...,6707.0,All Women,6566.0,15.0,49.0,All Men,1447.0,15.0,49.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,VN2002DHS,VN,2002,DHS,Completed,Vietnam,2002,209,1,South & Southeast Asia,...,7048.0,Ever Married Women,5665.0,15.0,49.0,None,NaN,NaN,NaN,205.0
139,VN2005AIS,VN,2005,AIS,Completed,Vietnam,2005,261,1,South & Southeast Asia,...,6337.0,All Women,7289.0,15.0,49.0,All Men,6707.0,15.0,49.0,NaN
140,YE1991DHS,YE,1991,DHS,Completed,Yemen,1991-92,36,1,North Africa/West Asia/Europe,...,12836.0,Ever Married Women,5687.0,15.0,49.0,None,NaN,NaN,NaN,NaN
141,YE2013DHS,YE,2013,DHS,Completed,Yemen,2013,358,1,North Africa/West Asia/Europe,...,17351.0,All Women,25434.0,15.0,49.0,None,NaN,NaN,NaN,NaN
142,ZM2018DHS,ZM,2018,DHS,Completed,Zambia,2018,542,1,Sub-Saharan Africa,...,12831.0,All Women,13683.0,15.0,49.0,All Men,12132.0,15.0,59.0,NaN

In [13]:
all_not_done_hh_surveys_full.to_csv("../Potential_New_Housing_Surveys.csv")

Filter to ones which have GPS data

NB we don't actually use this, for now we have decided to extract with or without GPS data after all

In [14]:
all_not_done_hh_surveys_full_with_gps = pd.read_sql(f"""
    SELECT * from dhs_survey_specs.dhs_survey_listing 
    WHERE surveynum IN 
        (SELECT distinct(surveyid)::INTEGER
            FROM dhs_data_tables."RECH0"
            WHERE surveyid NOT IN ({last_time_hh_str})
        )
    AND surveynum IN
        (SELECT distinct(surveyid)
         FROM dhs_data_locations.dhs_cluster_locs
        )
""", con=engine)
all_not_done_hh_surveys_full_with_gps.head()

,surveyid,dhs_countrycode,surveyyear,surveytype,surveystatus,countryname,surveyyearlabel,surveynum,indicatordata,regionname,...,numberofhouseholds,universeofwomen,numberofwomen,minagewomen,maxagewomen,universeofmen,numberofmen,minagemen,maxagemen,numberoffacilities
0,AL2008DHS,AL,2008,DHS,Completed,Albania,2008-09,327,1,North Africa/West Asia/Europe,...,7999.0,All Women,7584.0,15.0,49.0,All Men,3013.0,15.0,49.0,NaN
1,AM2010DHS,AM,2010,DHS,Completed,Armenia,2010,354,1,North Africa/West Asia/Europe,...,6700.0,All Women,5922.0,15.0,49.0,All Men,1584.0,15.0,49.0,NaN
2,AM2016DHS,AM,2016,DHS,Completed,Armenia,2015-16,492,1,North Africa/West Asia/Europe,...,7893.0,All Women,6116.0,15.0,49.0,All Men,2755.0,15.0,49.0,NaN
3,BD2000DHS,BD,2000,DHS,Completed,Bangladesh,1999-00,135,1,South & Southeast Asia,...,9854.0,Ever Married Women,10544.0,10.0,49.0,Currently Married Men,2556.0,15.0,59.0,NaN
4,BD2004DHS,BD,2004,DHS,Completed,Bangladesh,2004,236,1,South & Southeast Asia,...,10500.0,Ever Married Women,11440.0,10.0,49.0,All Men,4297.0,15.0,54.0,NaN

In [15]:
all_not_done_hh_surveys_full_with_gps.to_csv("../Potential_New_Housing_Surveys_With_GPS.csv")

## Select the surveys we now want to run for. 

Those in SSA, LAC, SEA regionsm that were not in the last extraction (only affects SSA)

For the HH level extraction, we have no need to re-run the ones that were done last time, we have not added any new columns.

In [15]:
all_not_done_hh_surveys_full['regionname'].unique()

array(['South & Southeast Asia', 'North Africa/West Asia/Europe',
       'Sub-Saharan Africa', 'Latin America & Caribbean', 'Central Asia',
       'Oceania'], dtype=object)

In [16]:
to_do_hh = all_not_done_hh_surveys_full[all_not_done_hh_surveys_full['regionname'].isin([
    'South & Southeast Asia' , 'Sub-Saharan Africa', 'Latin America & Caribbean'
])].reset_index()
len(to_do_hh)

105

We also need to filter by DHS phase, because any in phase 1 need a different SQL query (different table layout). The phase is stored in the hv000 variable, concatenated with country code, so select and extract it

In [17]:
svyid_ccode_phase = pd.read_sql('select distinct surveyid,hv000 from dhs_data_tables."RECH0"', con=engine)
svyid_ccode_phase['phase'] = svyid_ccode_phase['hv000'].str.extract('(\d$)')
svyid_ccode_phase.head()

  surveyid hv000 phase
0      439   DR6     6
1       76   UG3     3
2      266   UG5     5
3      253   TZ4     4
4      399   UG6     6

In [18]:
svyid_ccode_phase['surveyid'] = svyid_ccode_phase['surveyid'].astype(int)
svyid_ccode_phase['phase'] = svyid_ccode_phase['phase'].astype(float)

Merge the phase info to the to-do listing and filter any that are phase 1

In fact it seems there aren't any.

In [19]:
to_do_hh = to_do_hh.merge(svyid_ccode_phase, how="inner", left_on='surveynum', right_on='surveyid', indicator=True)
# check inner join didn't lose any, indicator isn't much use with inner join
len(to_do_hh)

105

In [20]:
to_do_hh[to_do_hh['phase'] <2]

Empty DataFrame
Columns: [index, surveyid_x, dhs_countrycode, surveyyear, surveytype, surveystatus, countryname, surveyyearlabel, surveynum, indicatordata, regionname, subregionname, publicationdate, releasedate, surveycharacteristicids, footnotes, fieldworkstart, fieldworkend, implementingorg, numberofsamplepoints, numberofhouseholds, universeofwomen, numberofwomen, minagewomen, maxagewomen, universeofmen, numberofmen, minagemen, maxagemen, numberoffacilities, surveyid_y, hv000, phase, _merge]
Index: []

[0 rows x 34 columns]

In [21]:
to_do_hh_svys = to_do_hh['surveynum']# .unique() is redundant
# create a list of the IDs for use in an SQL 'in' clause
to_do_hh_str = "(" + ",".join(["'"+str(s)+"'" for s in sorted(to_do_hh_svys)]) + ")"
len(to_do_hh_svys)

105

In [22]:
to_do_hh_str

"('30','33','34','35','37','40','44','50','59','61','63','65','69','70','72','85','86','88','89','92','95','98','100','111','112','135','140','141','142','152','155','156','172','176','202','204','209','210','222','227','228','236','238','243','255','257','261','264','265','268','273','287','291','297','298','309','310','319','321','331','334','340','349','355','356','357','368','369','381','390','419','426','433','434','436','439','440','447','454','461','464','471','472','476','490','491','494','503','510','511','514','517','522','523','526','527','528','536','539','542','545','549','557','580','581')"

In [23]:
with pd.option_context("display.max_rows",len(to_do_hh)):
    print(to_do_hh)

     index surveyid_x dhs_countrycode  surveyyear surveytype surveystatus  \
0        0  AF2015DHS              AF        2015        DHS    Completed
1        8  BD1994DHS              BD        1994        DHS    Completed
2        9  BD1997DHS              BD        1997        DHS    Completed
3       10  BD2000DHS              BD        2000        DHS    Completed
4       11  BD2004DHS              BD        2004        DHS    Completed
5       12  BD2007DHS              BD        2007        DHS    Completed
6       13  BD2011DHS              BD        2011        DHS    Completed
7       14  BD2014DHS              BD        2014        DHS    Completed
8       15  BD2017DHS              BD        2017        DHS    Completed
9       16  BJ2017DHS              BJ        2017        DHS    Completed
10      17  BO1994DHS              BO        1994        DHS    Completed
11      18  BO1998DHS              BO        1998        DHS    Completed
12      19  BO2003DHS              BO        2003        DHS    Completed
13      20  BO2008DHS              BO        2008        DHS    Completed
14      21  BR1991DHS              BR        1991        DHS    Completed
15      22  BR1996DHS              BR        1996        DHS    Completed
16      23  BF2017MIS              BF        2017        MIS    Completed
17      24  KH2000DHS              KH        2000        DHS    Completed
18      25  KH2005DHS              KH        2005        DHS    Completed
19      26  KH2010DHS              KH        2010        DHS    Completed
20      27  KH2014DHS              KH        2014        DHS    Completed
21      28  CM2018DHS              CM        2018        DHS    Completed
22      29  CO1990DHS              CO        1990        DHS    Completed
23      30  CO1995DHS              CO        1995        DHS    Completed
24      31  CO2000DHS              CO        2000        DHS    Completed
25      32  CO2005DHS              CO        2005        DHS    Completed
26      33  CO2010DHS              CO        2010        DHS    Completed
27      34  CO2015DHS              CO        2015        DHS    Completed
28      35  DR1991DHS              DR        1991        DHS    Completed
29      36  DR1996DHS              DR        1996        DHS    Completed
30      37  DR1999DHS              DR        1999        DHS    Completed
31      38  DR2002DHS              DR        2002        DHS    Completed
32      39  DR2007DHS              DR        2007        DHS    Completed
33      40  DR2007SPE              DR        2007        SPE    Completed
34      41  DR2013SPE              DR        2013        SPE    Completed
35      42  DR2013DHS              DR        2013        DHS    Completed
36      50  GH2019MIS              GH        2019        MIS    Completed
37      51  GU1995DHS              GU        1995        DHS    Completed
38      52  GU1999DHS              GU        1999        DHS    Completed
39      53  GU2015DHS              GU        2015        DHS    Completed
40      54  GN2018DHS              GN        2018        DHS    Completed
41      55  GY2005AIS              GY        2005        AIS    Completed
42      56  GY2009DHS              GY        2009        DHS    Completed
43      57  HT1994DHS              HT        1994        DHS    Completed
44      58  HT2000DHS              HT        2000        DHS    Completed
45      59  HT2006DHS              HT        2006        DHS    Completed
46      60  HT2012DHS              HT        2012        DHS    Completed
47      61  HT2016DHS              HT        2016        DHS    Completed
48      62  HN2005DHS              HN        2005        DHS    Completed
49      63  HN2011DHS              HN        2011        DHS    Completed
50      64  IA1993DHS              IA        1993        DHS    Completed
51      65  IA1999DHS              IA        1999        DHS    Completed
52      66  IA2006DHS              IA        2006        DHS    Completed
53      67  IA2015DHS              IA        2015        DHS    Completed
54      68  ID1991DHS              ID        1991        DHS    Completed
55      69  ID1994DHS              ID        1994        DHS    Completed
56      70  ID1997DHS              ID        1997        DHS    Completed
57      71  ID2003DHS              ID        2003        DHS    Completed
58      72  ID2007DHS              ID        2007        DHS    Completed
59      73  ID2012DHS              ID        2012        DHS    Completed
60      74  ID2017DHS              ID        2017        DHS    Completed
61      86  MV2009DHS              MV        2009        DHS    Completed
62      87  MV2016DHS              MV        2016        DHS    Completed
63      88  ML2018DHS              ML        2018        DHS    Completed
64      92  MZ2018MIS              MZ        2018        MIS    Completed
65      93  MM2016DHS              MM        2016        DHS    Completed
66      94  NP1996DHS              NP        1996        DHS    Completed
67      95  NP2001DHS              NP        2001        DHS    Completed
68      96  NP2006DHS              NP        2006        DHS    Completed
69      97  NP2011DHS              NP        2011        DHS    Completed
70      98  NP2016DHS              NP        2016        DHS    Completed
71      99  NC1998DHS              NC        1998        DHS    Completed
72     100  NC2001DHS              NC        2001        DHS    Completed
73     101  NG2018DHS              NG        2018        DHS    Completed
74     102  PK1991DHS              PK        1991        DHS    Completed
75     103  PK2006DHS              PK        2006        DHS    Completed
76     104  PK2012DHS              PK        2012        DHS    Completed
77     105  PK2017DHS              PK        2017        DHS    Completed
78     107  PY1990DHS              PY        1990        DHS    Completed
79     108  PE1992DHS              PE        1992        DHS    Completed
80     109  PE1996DHS              PE        1996        DHS    Completed
81     110  PE2000DHS              PE        2000        DHS    Completed
82     111  PE2004DHS              PE        2004        DHS    Completed
83     112  PE2007DHS              PE        2007        DHS    Completed
84     113  PE2009DHS              PE        2009        DHS    Completed
85     114  PE2010DHS              PE        2010        DHS    Completed
86     115  PE2011DHS              PE        2011        DHS    Completed
87     116  PE2012DHS              PE        2012        DHS    Completed
88     117  PH1993DHS              PH        1993        DHS    Completed
89     118  PH1998DHS              PH        1998        DHS    Completed
90     119  PH2003DHS              PH        2003        DHS    Completed
91     120  PH2008DHS              PH        2008        DHS    Completed
92     121  PH2013DHS              PH        2013        DHS    Completed
93     122  PH2017DHS              PH        2017        DHS    Completed
94     123  SN2018DHS              SN        2018        DHS    Completed
95     124  SN2019DHS              SN        2019        DHS    Completed
96     125  SL2019DHS              SL        2019        DHS    Completed
97     126  ZA2016DHS              ZA        2016        DHS    Completed
98     129  TL2009DHS              TL        2009        DHS    Completed
99     130  TL2016DHS              TL        2016        DHS    Completed
100    134  UG2018MIS              UG        2018        MIS    Completed
101    137  VN1997DHS              VN        1997        DHS    Completed
102    138  VN2002DHS              VN        2002        DHS    Completed
103    139  VN2005AIS              VN        2005        AIS    Completed
104    142  ZM2018DHS              ZM        2018        DHS    Completed

            countryname surveyyearlabel  surveynum  indicatordata  ...  \
0           Afghanistan            2015        471              1  ...
1            Bangladesh         1993-94         59              1  ...
2            Bangladesh         1996-97         89              1  ...
3            Bangladesh         1999-00        135              1  ...
4            Bangladesh            2004        236              1  ...
5            Bangladesh            2007        287              1  ...
6            Bangladesh            2011        349              1  ...
7            Bangladesh            2014        461              1  ...
8            Bangladesh         2017-18        536              1  ...
9                 Benin         2017-18        491              1  ...
10              Bolivia            1994         65              1  ...
11              Bolivia            1998         98              1  ...
12              Bolivia            2003        238              1  ...
13              Bolivia            2008        319              1  ...
14               Brazil            1991         40              0  ...
15               Brazil            1996         85              1  ...
16         Burkina Faso         2017-18        526              1  ...
17             Cambodia            2000        140              1  ...
18             Cambodia            2005        257              1  ...
19             Cambodia            2010        310              1  ...
20             Cambodia            2014        464              1  ...
21             Cameroon            2018        511              1  ...
22             Colombia            1990         30              1  ...
23             Colombia            1995         72              1  ...
24             Colombia            2000        141              1  ...
25             Colombia            2005        255              1  ...
26             Colombia            2010        381              1  ...
27             Colombia            2015        476              1  ...
28   Dominican Republic            1991         37              1  ...
29   Dominican Republic            1996         92              1  ...
30   Dominican Republic            1999        142              1  ...
31   Dominican Republic            2002        210              1  ...
32   Dominican Republic            2007        291              1  ...
33   Dominican Republic            2007        331              0  ...
34   Dominican Republic            2013        490              0  ...
35   Dominican Republic            2013        439              1  ...
36                Ghana            2019        557              1  ...
37            Guatemala            1995         70              1  ...
38            Guatemala         1998-99        152              1  ...
39            Guatemala         2014-15        440              1  ...
40               Guinea            2018        539              1  ...
41               Guyana            2005        243              1  ...
42               Guyana            2009        309              1  ...
43                Haiti         1994-95         69              1  ...
44                Haiti            2000        155              1  ...
45                Haiti         2005-06        222              1  ...
46                Haiti            2012        368              1  ...
47                Haiti         2016-17        503              1  ...
48             Honduras         2005-06        265              1  ...
49             Honduras         2011-12        369              1  ...
50                India         1992-93         50              1  ...
51                India         1998-99        156              1  ...
52                India         2005-06        264              1  ...
53                India         2015-16        355              1  ...
54            Indonesia            1991         35              1  ...
55            Indonesia            1994         63              1  ...
56            Indonesia            1997         95              1  ...
57            Indonesia         2002-03        172              1  ...
58            Indonesia            2007        297              1  ...
59            Indonesia            2012        357              1  ...
60            Indonesia            2017        522              0  ...
61             Maldives            2009        321              1  ...
62             Maldives         2016-17        494              1  ...
63                 Mali            2018        517              1  ...
64           Mozambique            2018        527              1  ...
65              Myanmar         2015-16        454              1  ...
66                Nepal            1996         86              1  ...
67                Nepal            2001        202              1  ...
68                Nepal            2006        268              1  ...
69                Nepal            2011        356              1  ...
70                Nepal            2016        472              1  ...
71            Nicaragua            1998        112              1  ...
72            Nicaragua            2001        204              1  ...
73              Nigeria            2018        528              1  ...
74             Pakistan         1990-91         34              1  ...
75             Pakistan         2006-07        273              1  ...
76             Pakistan         2012-13        419              1  ...
77             Pakistan         2017-18        523              1  ...
78             Paraguay            1990         33              1  ...
79                 Peru         1991-92         44              1  ...
80                 Peru            1996         88              1  ...
81                 Peru            2000        176              1  ...
82                 Peru         2004-06        228              1  ...
83                 Peru         2007-08        447              1  ...
84                 Peru            2009        334              1  ...
85                 Peru            2010        426              1  ...
86                 Peru            2011        433              1  ...
87                 Peru            2012        434              1  ...
88          Philippines            1993         61              1  ...
89          Philippines            1998        111              1  ...
90          Philippines            2003        227              1  ...
91          Philippines            2008        298              1  ...
92          Philippines            2013        436              1  ...
93          Philippines            2017        510              1  ...
94              Senegal            2018        580              1  ...
95              Senegal            2019        581              0  ...
96         Sierra Leone            2019        545              1  ...
97         South Africa            2016        390              1  ...
98          Timor-Leste         2009-10        340              1  ...
99          Timor-Leste            2016        514              1  ...
100              Uganda         2018-19        549              1  ...
101             Vietnam            1997        100              1  ...
102             Vietnam            2002        209              1  ...
103             Vietnam            2005        261              1  ...
104              Zambia            2018        542              1  ...

    maxagewomen          universeofmen numberofmen minagemen maxagemen  \
0          49.0       Ever Married Men     10760.0      15.0      49.0
1          49.0               Husbands      3284.0       NaN       NaN
2          49.0  Currently Married Men      3346.0      15.0      59.0
3          49.0  Currently Married Men      2556.0      15.0      59.0
4          49.0                All Men      4297.0      15.0      54.0
5          49.0       Ever Married Men      3771.0      15.0      54.0
6          49.0       Ever Married Men      3997.0      15.0      54.0
7          49.0                   None         NaN       NaN       NaN
8          49.0                   None         NaN       NaN       NaN
9          49.0                All Men      7595.0      15.0      64.0
10         49.0                   None         NaN       NaN       NaN
11         49.0                All Men      3780.0      15.0      64.0
12         49.0                All Men      6230.0      15.0      64.0
13         49.0                All Men      6054.0      15.0      64.0
14         49.0               Husbands      1266.0       NaN       NaN
15         49.0                All Men      2949.0      15.0      59.0
16         49.0                   None         NaN       NaN       NaN
17         49.0                   None         NaN       NaN       NaN
18         49.0                All Men      6731.0      15.0      49.0
19         49.0                All Men      8239.0      15.0      49.0
20         49.0                All Men      5190.0      15.0      49.0
21         49.0                All Men      6978.0      15.0      64.0
22         49.0                   None         NaN       NaN       NaN
23         49.0                   None         NaN       NaN       NaN
24         49.0                   None         NaN       NaN       NaN
25         49.0                   None         NaN       NaN       NaN
26         49.0                   None         NaN       NaN       NaN
27         49.0                All Men     35783.0      13.0      59.0
28         49.0                   None         NaN       NaN       NaN
29         49.0                All Men      2279.0      15.0      64.0
30         49.0                All Men      1112.0      15.0      64.0
31         49.0                All Men      2833.0      15.0      59.0
32         49.0                All Men     27975.0      15.0      59.0
33         49.0                All Men      1820.0      15.0      59.0
34         49.0                All Men      2101.0      15.0      59.0
35         49.0                All Men     10306.0      15.0      59.0
36         49.0                   None         NaN       NaN       NaN
37         49.0                   None         NaN       NaN       NaN
38         49.0                   None         NaN       NaN       NaN
39         49.0                All Men     11145.0      15.0      59.0
40         49.0                All Men      5000.0      15.0      59.0
41         49.0                All Men      1875.0      15.0      49.0
42         49.0                All Men      3522.0      15.0      49.0
43         49.0                All Men      1610.0      15.0      59.0
44         49.0                All Men      3171.0      15.0      59.0
45         49.0                All Men      4958.0      15.0      59.0
46         49.0                All Men      9493.0      15.0      59.0
47         49.0                All Men      9795.0      15.0      64.0
48         49.0                   None         NaN       NaN       NaN
49         49.0                All Men      7120.0      15.0      59.0
50         49.0                   None         NaN       NaN       NaN
51         49.0                   None         NaN       NaN       NaN
52         49.0                All Men     74369.0      15.0      54.0
53         49.0                All Men    112122.0      15.0      54.0
54         49.0                   None         NaN       NaN       NaN
55         49.0                   None         NaN       NaN       NaN
56         49.0                   None         NaN       NaN       NaN
57         49.0  Currently Married Men      8310.0      15.0      54.0
58         49.0  Currently Married Men      8758.0      15.0      54.0
59         49.0       Ever Married Men      9306.0      15.0      54.0
60         49.0  Currently Married Men     10009.0      15.0      54.0
61         49.0       Ever Married Men      1727.0      15.0      64.0
62         49.0                All Men      4342.0      15.0      49.0
63         49.0                All Men      4618.0      15.0      59.0

## Run the HH level extractions

First read the SQL, which has been hand-written to specify the output column names needed (as opposed to renaming them in pandas after DB select), and double check that the column names it creates match the old output data.

In [24]:
hh_sql = open("../code/Extended_Building_Quality_Generic_Query_2021_FullNames.sql", 'r').read()
#print(hh_sql)

FileNotFoundError: [Errno 2] No such file or directory: '../code/Extended_Building_Quality_Generic_Query_2021_FullNames.sql'

Check the column names the SQL produces with a dummy SELECT

In [ ]:
output = pd.read_sql(hh_sql.format(SURVEYID=-9999, COUNTRYNAME="Nowhere", DHS_CC="nw", SVY_YR=1066, SVY_TYPE='DHS'), con=engine)
output

Check all the new columns match the last-time columns

In [ ]:
(output.columns == last_time_cols.columns).all()

We will run for each survey in turn. Running for multiple surveys at once (using `surveyid in ('1','2','3')` type syntax) runs immensely slower as the DB planner for some reason does not appear to use the indexes in the best way and does lots of sequential scans. (Even for a single id i.e. `surveyid in ('1')`)

We'll output each survey to a separate file, plus one overall file with each survey in it.

Define a function to append a dataframe to an existing CSV (created from another df with the same schema)

In [37]:
import os
def appendDFToCSV_void(df, csvFilePath, sep=","):
    if not os.path.isfile(csvFilePath):
        df.to_csv(csvFilePath, mode='a', index=False, sep=sep)
    elif len(df.columns) != len(pd.read_csv(csvFilePath, nrows=1, sep=sep).columns):
        raise Exception("Columns do not match!! Dataframe has " + str(len(df.columns)) + 
                        " columns. CSV file has " + str(len(pd.read_csv(csvFilePath, nrows=1, sep=sep).columns))
                        + " columns.")
    elif not (df.columns == pd.read_csv(csvFilePath, nrows=1, sep=sep).columns).all():
        raise Exception("Columns and column order of dataframe and csv file do not match!!")
    else:
        df.to_csv(csvFilePath, mode='a', index=False, sep=sep, header=False)

Define a function to run the extraction for a single survey, represented as a row in the to_do_hh dataframe

In [26]:
def run_for_row_hh(r):
    svy_id=r['surveynum']
    ctry_name = r['countryname']
    yr = r['surveyyear']
    dhs_cc = r['dhs_countrycode']
    svy_type = r['surveytype']
    print(f"{svy_id} {ctry_name} {yr}")
    _sql = hh_sql.format(SURVEYID=svy_id, COUNTRYNAME=ctry_name, DHS_CC=dhs_cc, SVY_TYPE=svy_type, SVY_YR=yr)
    _data = pd.read_sql(_sql, con=engine)
    _outname = os.path.join(out_folder, str(svy_id) + ".HH-Res.csv")
    _data.to_csv(_outname, index=False)
    appendDFToCSV_void(_data, concat_output)
    return({"surveynum":svy_id, "success":len(_data)>0})

### Do the extraction 

Map this function over the dataframe to run for each survey in turn

In [ ]:
out_folder = "/mnt/c/Users/harry/OneDrive - Nexus365/MAP/DHS_Tusting_Housing/hh_output/all"
concat_output = os.path.join(out_folder, "All-newSSA-SEA-LAC.HH-Res.csv")
res = to_do_hh.apply(run_for_row_hh, axis=1)

# Child level extraction

The surveys done last time should be the same ones as were done for the HH level extraction. Double check this.

In [25]:
last_time_child_svy_list = pd.read_csv(os.path.join(prev_result_folder, 'Children_All_20190403.csv'), usecols=['surveyid', 'surveyyear', 'countryname'])

In [26]:
last_time_child_svys = last_time_child_svy_list['surveyid'].unique()
last_time_child_str = ",".join(["'"+str(s)+"'" for s in last_time_child_svys])
len(last_time_child_svys)

159

In [27]:
(last_time_child_svys==last_time_hh_svys).all()

True

In [29]:
last_time_child_cols = pd.read_csv(os.path.join(prev_result_folder, 'Children_All_20190403.csv'), nrows=0)
last_time_child_cols

Empty DataFrame
Columns: [surveyid, surveyyear, surveyyear_lbl, survey_release_date, surveytype, hv000_ccode_phase, dhs_countrycode, countryname, v001_cluster_id, cluster_id_full, latitude, longitude, hhid, hv002_hh_num, hv006_interview_mth, hv007_interview_yr, hv008_interview_cmc, child_hh_line_num, birth_order, child_sex, desc_child_sex, b8_child_age, hv105_child_age, hv008_child_age_cmc_calc_months, mother_caseid, hc61_mother_highest_ed_lvl, hc61_desc_mother_highest_ed_lvl, hc62_mother_highest_ed_yr, hc62_desc_mother_highest_ed_yr, h1_has_health_card, h1_desc_has_health_card, h11_had_diarrhea_recently, h11_desc_had_diarrhea_recently, h22_had_fever_recently, hml22_desc_had_fever_recently, h31_had_cough_recently, hml31_desc_had_cough_recently, h31b_short_rapid_breaths, hml31b_desc_short_rapid_breaths, h31c_problem_in_chest, hml31c_desc_problem_in_chest, h34_had_vitamin_a, h7_received_dpt3, h56_received_pneumococcal, h58_received_rv2, h9_received_measles, m15_place_of_delivery, m15_desc_place_of_delivery, m17_delivery_by_csection, m19_birthweight_kg_3dec, m39_times_ate_stuff_yesterday, hml12_desc_type_net_slept_last_night, hml12_type_net_slept_last_night, hml19_sleep_under_ever_treated_net, hml_20_sleep_under_llin, hml33_mal_smear_test_status, hml33_desc_mal_smear_test_status, hml32_result_mal_smear_test, hml32_desc_result_mal_smear_test, hml35_result_mal_rapid_test, hml35_desc_result_mal_rapid_test, hc70_ht_age_stdev_who, hc71_wt_age_stdev_who, hc72_wt_ht_stdev_who, hc5_ht_age_stdev, hc8_wt_age_stdev, hc11_wt_ht_stdev, hc56_hb_adj_alt, hc57_anemia_level, hc57_desc_anemia_level]
Index: []

[0 rows x 70 columns]

In [30]:
child_sql = open("../SQL/HH_Level_Children_Health_Generic_Query_2021.sql", 'r').read()

In [33]:
child_output = pd.read_sql(child_sql.format(SURVEYID=-9999), con=engine)
with pd.option_context("display.max_columns",len(to_do_hh)):
    print(child_output)
#
child_output

Empty DataFrame
Columns: [surveyid, surveyyear, surveyyear_lbl, survey_release_date, surveytype, hv000_ccode_phase, dhs_countrycode, countryname, v001_cluster_id, cluster_id_full, latitude, longitude, hhid, hv002_hh_num, interview_date_vars, hv007_interview_yr, hv006_interview_mth, hv016_interview_day, hv008a_interview_cdc, biomarker_date_vars, hv807y_biomarker_visit_yr, hv807m_biomarker_visit_mth, hv807d_biomarker_visit_day, hv807a_biomarker_visit_cdc, hc19_biomarkers_msmnt_yr, hc18_biomarkers_msmnt_mth, hc17_biomarkers_msmnt_day, hc20_biomarkers_msmnt_cdc, hw19_biomarkers_msmnt_yr, hw18_biomarkers_msmnt_mth, hw17_biomarkers_msmnt_day, birth_history_dob_vars, b2_birth_yr, b1_birth_mth, b17_birth_day, b18_dob_cdc, biomarkers_dob_vars, hc31_birth_yr, hc30_birth_mth, hc16_birth_day, hw16_birth_day, hc32a_dob_cdc, hc33_diagnostic_for_hc32, hc33_desc_diagnostic_for_hc32, age_estimates, b8_age_yrs_birthhistory, hv105_age_yrs_schedule, age_days_from_main_cdc_calc, age_days_from_biomarkers_cdc_calc, age_days_from_biomarkers, remaining_data, child_hh_line_num, birth_order, child_sex, desc_child_sex, b0_child_is_twin, mother_caseid, v045b_mothers_iview_lang, v045b_desc_mothers_iview_lang, v045c_mothers_native_lang, v045c_desc_mothers_native_lang, v130_religion, v130_desc_religion, ethnicity, v131_desc_ethnicity, ha1_mothers_age_yrs, ha3_mothers_ht_cm, ha4_mothers_ht_age_pctile, ha5_mothers_ht_age_stdev, ha6_mothers_ht_age_pct_ref_med, hc61_mother_highest_ed_lvl, hc61_desc_mother_highest_ed_lvl, hc62_mother_highest_ed_yr, hc62_desc_mother_highest_ed_yr, h1_has_health_card, h1_desc_has_health_card, h11_had_diarrhea_recently, h11_desc_had_diarrhea_recently, h22_had_fever_recently, h22_desc_had_fever_recently, h31_had_cough_recently, h31_desc_had_cough_recently, h31b_short_rapid_breaths, h31b_desc_short_rapid_breaths, h31c_problem_in_chest, h31c_desc_problem_in_chest, h34_had_vitamin_a, h7_received_dpt3, h56_received_pneumococcal, h58_received_rv2, h9_received_measles, m19_birthweight_kg_3dec, m39_times_ate_stuff_yesterday, hml12_type_net_slept_last_night, hml12_desc_type_net_slept_last_night, hml19_sleep_under_ever_treated_net, hml_20_sleep_under_llin, hml32_result_mal_smear_test, hml32_desc_result_mal_smear_test, hml33_mal_smear_test_status, ...]
Index: []

[0 rows x 123 columns]

Empty DataFrame
Columns: [surveyid, surveyyear, surveyyear_lbl, survey_release_date, surveytype, hv000_ccode_phase, dhs_countrycode, countryname, v001_cluster_id, cluster_id_full, latitude, longitude, hhid, hv002_hh_num, interview_date_vars, hv007_interview_yr, hv006_interview_mth, hv016_interview_day, hv008a_interview_cdc, biomarker_date_vars, hv807y_biomarker_visit_yr, hv807m_biomarker_visit_mth, hv807d_biomarker_visit_day, hv807a_biomarker_visit_cdc, hc19_biomarkers_msmnt_yr, hc18_biomarkers_msmnt_mth, hc17_biomarkers_msmnt_day, hc20_biomarkers_msmnt_cdc, hw19_biomarkers_msmnt_yr, hw18_biomarkers_msmnt_mth, hw17_biomarkers_msmnt_day, birth_history_dob_vars, b2_birth_yr, b1_birth_mth, b17_birth_day, b18_dob_cdc, biomarkers_dob_vars, hc31_birth_yr, hc30_birth_mth, hc16_birth_day, hw16_birth_day, hc32a_dob_cdc, hc33_diagnostic_for_hc32, hc33_desc_diagnostic_for_hc32, age_estimates, b8_age_yrs_birthhistory, hv105_age_yrs_schedule, age_days_from_main_cdc_calc, age_days_from_biomarkers_cdc_calc, age_days_from_biomarkers, remaining_data, child_hh_line_num, birth_order, child_sex, desc_child_sex, b0_child_is_twin, mother_caseid, v045b_mothers_iview_lang, v045b_desc_mothers_iview_lang, v045c_mothers_native_lang, v045c_desc_mothers_native_lang, v130_religion, v130_desc_religion, ethnicity, v131_desc_ethnicity, ha1_mothers_age_yrs, ha3_mothers_ht_cm, ha4_mothers_ht_age_pctile, ha5_mothers_ht_age_stdev, ha6_mothers_ht_age_pct_ref_med, hc61_mother_highest_ed_lvl, hc61_desc_mother_highest_ed_lvl, hc62_mother_highest_ed_yr, hc62_desc_mother_highest_ed_yr, h1_has_health_card, h1_desc_has_health_card, h11_had_diarrhea_recently, h11_desc_had_diarrhea_recently, h22_had_fever_recently, h22_desc_had_fever_recently, h31_had_cough_recently, h31_desc_had_cough_recently, h31b_short_rapid_breaths, h31b_desc_short_rapid_breaths, h31c_problem_in_chest, h31c_desc_problem_in_chest, h34_had_vitamin_a, h7_received_dpt3, h56_received_pneumococcal, h58_received_rv2, h9_received_measles, m19_birthweight_kg_3dec, m39_times_ate_stuff_yesterday, hml12_type_net_slept_last_night, hml12_desc_type_net_slept_last_night, hml19_sleep_under_ever_treated_net, hml_20_sleep_under_llin, hml32_result_mal_smear_test, hml32_desc_result_mal_smear_test, hml33_mal_smear_test_status, ...]
Index: []

[0 rows x 123 columns]

We have added numerous new columns to the child level extraction, so we are not going to compare the schema to that from last time.

Define a function to run the extraction for a single survey, represented as a row in the to_do_hh dataframe.

In [34]:
def run_for_row_child(r):
    svy_id=r['surveynum']
    ctry_name = r['countryname']
    yr = r['surveyyear']
    print(f"{svy_id} {ctry_name} {yr}")
    _sql = child_sql.format(SURVEYID=svy_id)
    _data = pd.read_sql(_sql, con=engine)
    if not os.path.exists(out_folder):
        os.makedirs(out_folder)
    _outname = os.path.join(out_folder, str(svy_id) + ".Child-Res.csv")
    _data.to_csv(_outname, index=False)
    appendDFToCSV_void(_data, concat_output)
    return({"surveynum":svy_id, "success":len(_data)>0})

Run the child-level extraction for all the new surveys. (Just use the same to_do_hh dataframe to map over, as we already checked that the same ones were done for both extractions last time).

In [35]:
out_folder = "/mnt/c/Users/harry/OneDrive - Nexus365/MAP/DHS_Tusting_Housing/child_output/all_new_with_dobs"
concat_output = os.path.join(out_folder, "All-newSSA-SEA-LAC.Child-Res.csv")

In [39]:
res = to_do_hh.apply(run_for_row_child, axis=1)

471 Afghanistan 2015
59 Bangladesh 1994
89 Bangladesh 1997
135 Bangladesh 2000
236 Bangladesh 2004
287 Bangladesh 2007
349 Bangladesh 2011
461 Bangladesh 2014
536 Bangladesh 2017
491 Benin 2017
65 Bolivia 1994
98 Bolivia 1998
238 Bolivia 2003
319 Bolivia 2008
40 Brazil 1991
85 Brazil 1996
526 Burkina Faso 2017
140 Cambodia 2000
257 Cambodia 2005
310 Cambodia 2010
464 Cambodia 2014
511 Cameroon 2018
30 Colombia 1990
72 Colombia 1995
141 Colombia 2000
255 Colombia 2005
381 Colombia 2010
476 Colombia 2015
37 Dominican Republic 1991
92 Dominican Republic 1996
142 Dominican Republic 1999
210 Dominican Republic 2002
291 Dominican Republic 2007
331 Dominican Republic 2007
490 Dominican Republic 2013
439 Dominican Republic 2013
557 Ghana 2019
70 Guatemala 1995
152 Guatemala 1999
440 Guatemala 2015
539 Guinea 2018
243 Guyana 2005
309 Guyana 2009
69 Haiti 1994
155 Haiti 2000
222 Haiti 2006
368 Haiti 2012
503 Haiti 2016
265 Honduras 2005
369 Honduras 2011
50 India 1993
156 India 1999
264 India 2006
355 India 2015
35 Indonesia 1991
63 Indonesia 1994
95 Indonesia 1997
172 Indonesia 2003
297 Indonesia 2007
357 Indonesia 2012
522 Indonesia 2017
321 Maldives 2009
494 Maldives 2016
517 Mali 2018
527 Mozambique 2018
454 Myanmar 2016
86 Nepal 1996
202 Nepal 2001
268 Nepal 2006
356 Nepal 2011
472 Nepal 2016
112 Nicaragua 1998
204 Nicaragua 2001
528 Nigeria 2018
34 Pakistan 1991
273 Pakistan 2006
419 Pakistan 2012
523 Pakistan 2017
33 Paraguay 1990
44 Peru 1992
88 Peru 1996
176 Peru 2000
228 Peru 2004
447 Peru 2007
334 Peru 2009
426 Peru 2010
433 Peru 2011
434 Peru 2012
61 Philippines 1993
111 Philippines 1998
227 Philippines 2003
298 Philippines 2008
436 Philippines 2013
510 Philippines 2017
580 Senegal 2018
581 Senegal 2019
545 Sierra Leone 2019
390 South Africa 2016
340 Timor-Leste 2009
514 Timor-Leste 2016
549 Uganda 2018
100 Vietnam 1997
209 Vietnam 2002
261 Vietnam 2005
542 Zambia 2018

Also re-run the child-level extraction for all the surveys that were done last time, because we have added some new columns to the extraction. Need to rename one of the columns to match.

In [40]:
to_do_child_repeat = last_time_child_svy_list.drop_duplicates().rename({"surveyid":"surveynum"},axis=1)
to_do_child_repeat.head()

       surveynum  surveyyear   countryname
0            165        2000        Rwanda
8530         509        2016       Liberia
12456        395        2011        Angola
22140        324        2008  Sierra Leone
29566         48        1992       Namibia

In [41]:
len(to_do_child_repeat)

159

Run for all the old surveys

In [42]:
out_folder = "/mnt/c/Users/harry/OneDrive - Nexus365/MAP/DHS_Tusting_Housing/child_output/re_run_previous_with_dobs"
concat_output = os.path.join(out_folder, "All-oldSSA.Child-Res.csv")

In [43]:
res = to_do_child_repeat.apply(run_for_row_child, axis=1)

165 Rwanda 2000
509 Liberia 2016
395 Angola 2011
324 Sierra Leone 2008
48 Namibia 1992
457 Senegal 2014
467 Mozambique 2015
437 Ghana 2014
540 Rwanda 2017
99 Niger 1998
393 Tanzania 2012
438 Nigeria 2013
206 Zambia 2002
388 Congo 2011
174 Mozambique 2003
266 Uganda 2006
293 Senegal 2006
289 Benin 2006
83 Chad 1997
332 Uganda 2009
345 Tanzania 2010
215 Chad 2004
116 Burkina Faso 1999
249 Guinea 2005
468 Rwanda 2015
154 Guinea 1999
230 Burkina Faso 2003
450 Sierra Leone 2013
115 Kenya 1998
184 Zimbabwe 1999
456 Madagascar 2013
51 Zambia 1992
216 Kenya 2003
481 Burkina Faso 2014
205 Namibia 2000
425 Gambia 2013
484 Uganda 2014
505 Madagascar 2016
311 Cote d'Ivoire 2012
52 Malawi 1992
233 Senegal 2005
159 Mali 2001
399 Uganda 2011
282 Angola 2006
405 Mali 2012
114 Togo 1998
359 Ethiopia 2011
223 Nigeria 2003
277 Niger 2006
465 Chad 2014
478 Ethiopia 2016
474 Nigeria 2015
443 Comoros 2012
396 Madagascar 2011
329 Burkina Faso 2010
76 Uganda 1995
62 Cote d'Ivoire 1994
42 Burkina Faso 1993
235 Ghana 2003
516 Ghana 2016
113 South Africa 1998
260 Zimbabwe 2005
338 Senegal 2008
373 Uganda 2011
284 Namibia 2006
158 Malawi 2000
151 Ghana 1998
473 Malawi 2014
167 Tanzania 1999
363 Namibia 2013
402 Gabon 2012
524 Senegal 2016
32 Nigeria 1990
253 Tanzania 2004
105 Mozambique 1997
276 Mali 2006
43 Rwanda 1992
53 Niger 1992
231 Cote d'Ivoire 2005
370 Congo 2009
362 Mozambique 2011
392 Nigeria 2010
93 Comoros 1996
421 Congo Democratic Republic 2013
446 Burundi 2012
106 Cote d'Ivoire 1998
333 Malawi 2010
475 Zimbabwe 2015
66 Central African Republic 1994
207 Madagascar 2004
49 Madagascar 1992
302 Nigeria 2008
423 Senegal 2012
483 Malawi 2015
406 Zambia 2013
38 Cameroon 1991
301 Ghana 2008
82 Tanzania 1996
64 Zimbabwe 1994
322 Mozambique 2009
463 Burundi 2016
317 Lesotho 2009
296 Madagascar 2008
420 Benin 2012
267 Congo 2005
300 Kenya 2008
234 Tanzania 2003
451 Kenya 2014
271 Liberia 2007
252 Rwanda 2005
449 Rwanda 2013
407 Niger 2012
46 Senegal 1993
101 Cameroon 1998
489 Senegal 2015
304 Tanzania 2007
41 Tanzania 1992
256 Lesotho 2004
361 Liberia 2011
391 Guinea 2012
90 Zambia 1996
504 Uganda 2016
58 Ghana 1993
485 Tanzania 2015
337 Cameroon 2011
81 Senegal 1997
346 Burundi 2010
365 Senegal 2010
110 Madagascar 1997
323 Rwanda 2008
232 Cameroon 2004
169 Uganda 2000
512 Malawi 2017
259 Eswatini 2006
477 Angola 2015
534 Senegal 2017
367 Zimbabwe 2010
77 Mali 1996
497 Togo 2017
248 Ethiopia 2005
435 Liberia 2013
462 Lesotho 2014
318 Sao Tome and Principe 2008
529 Tanzania 2017
251 Malawi 2004
432 Malawi 2012
87 Benin 1996
148 Gabon 2000
330 Liberia 2009
147 Ethiopia 2000
328 Togo 2013
211 Benin 2001
515 Sierra Leone 2016
278 Zambia 2007
56 Kenya 1993
493 Kenya 2015
364 Rwanda 2010
239 Congo Democratic Republic 2007
487 Mali 2015